.container {
    display: block;
    max-width: 600px;
    width: 100%;
    margin: auto;
    background-color: gray;
    height: 500px;
}

.elevator-shaft {
    grid-area: middle;
    background-color: blue;
}

.building {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: [top-of] 20% [fourth] 20% [third] 20% [second] 20% [first] 20% [bottom];
    grid-template-columns: [left] 1fr [first] 1fr [second] 1fr [right];
    grid-template-areas: ". middle ." ". middle ." ". middle ." ". middle ." ". middle ."
}

.elevator {
    grid-area: middle;
    top: 300px;
    display: block;
    position: relative;
    margin: auto;
    height: 98px;
    width: 60px;
    background-color: black;
    border: 1px solid whitesmoke;
    transition-timing-function: ease-in-out;
    transition: all 0.6s ease 0.6s;
}

.elevator .top-side {
    height: 20px;
    width: 100%;
    background-color: brown;
}

.elevator .elevator-door {
    transition: width 0.5s ease;
    background-color: burlywood;
    height: 78px;
    width: 100%;
}

.elevator.door-openned .elevator-door {
    width: 0;
}

.floor1, .floor2, .floor3, .floor4, .floor5 {
    grid-column: left / right;
    border: 1px solid black;
    background-color: aqua;
}

.floor1 {
    grid-row: bottom / first;
}

.floor2 {
    grid-row: first / second;
}

.floor3 {
    grid-row: second / third;
}

.floor4 {
    grid-row: third / fourth;
}

.floor5 {
    grid-row: fourth / top-of;
}

button {
    border: 3px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: greenyellow;
    -webkit-box-shadow: 10px 10px 24px 5px rgba(173, 255, 47, 1);
    -moz-box-shadow: 10px 10px 24px 5px rgba(173, 255, 47, 1);
    box-shadow: 10px 10px 24px 5px rgba(173, 255, 47, 1);
}

.inner-btn {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: brown;
    display: block;
    margin: auto;
    text-align: center
}